* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100vh;
  color: #292f45;
  background-color: #fff;
  min-width: 340px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.w-fill {
  width: 100%;
}

/************* EMBEDDED START *************/
.embedded-component {
  width: 100%;
}

.embedded-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/************* EMBEDDED START *************/

/************* LANDING PAGE START *************/

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1536px;
  padding: 75px 0px 75px 2.5em;
  overflow-x: hidden;
}

.intro-text {
  flex-direction: column;
  width: 100%;
  position: relative;
}

.intro-text img {
  width: 45px;
  position: absolute;
  left: -1.75em;
  top: -1em;
}

.intro-text .button.primary {
  width: fit-content;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.intro-image {
  width: 50%;
}

.intro-image img {
  border-radius: 50%;
  width: 530px;
  height: 530px;
  object-fit: cover;
}

/************* RESERVATIONS START *************/

#calendar table {
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#calendar .firstcol {
  width: 60px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0;
  text-align: center;
  border: 0;
  position: relative;
  top: -12px;
  border-bottom: 1px solid transparent;
}

#calendar thead {
  background: white;
  border-bottom: 2px solid #ddd;
}

#calendar thead th {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

#calendar thead th.today {
  color: #228403;
}

#calendar tbody {
  position: relative;
}

#calendar td:not(.firstcol) {
  border-bottom: 1px solid #e8e8e8;
}

#calendar tr td {
  border-right: 1px solid #eee;
  padding: 0;
  white-space: none;
  word-wrap: nowrap;
  text-align: center;

  position: relative;
  vertical-align: top;
  height: 60px;
  padding: 0.25rem 0.25rem 0 0.25rem;
  width: auto;
}

#calendar tr td.past {
  background: #fafafa;
}

#calendar td .event {
  background: #f3f4f6;
  color: black;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.5rem;
  overflow-x: hidden;
  transition: all 0.2s;
  border-left: 2px solid #228403;
  z-index: 2;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#calendar td .event:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#calendar td .event p:nth-child(3) {
  color: #666e7d;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.calendar-date-selector,
.calendar-settings {
  width: fit-content;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 20px;
  height: 36px;
}

.calendar-date-selector button {
  border: 1px solid #dcdfe3;
  border-radius: 5px;
  box-shadow: none;
  font-size: 20px;
}

.calendar-date-selector div:nth-child(3) {
  color: #666e7d;
}

.calendar-settings-view {
  display: flex;
  align-items: center;
  border: 1px solid #dcdfe3;
  height: 100%;
  border-radius: 5px;
}

.calendar-settings-view div:nth-child(1),
.calendar-settings-view div:nth-child(2) {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-settings-view div:nth-child(2) {
  background-color: #f3f4f6;
}

/************* RESERVATIONS END *************/
