<!-- This example requires Tailwind CSS v2.0+ -->
<div class="text-center">
  <h3 class="mt-2 text-sm font-medium text-gray-900">{{heading}}</h3>
  <p class="mt-1 text-sm text-gray-500">{{text}}.</p>
</div>