<header
  class="flex flex-col sm:justify-center sm:flex-row items-start sm:items-center p-2 bg-brand-outline text-white"
>
  To have access to all features, please
  <a
    href="/signup/onboarding"
    class="text-white underline underline-offset-2 active:text-gray-100 sm:px-2 font-medium"
  >
    Complete Stripe onboarding →
  </a>
</header>