<div
  id="card"
  class="relative rounded-lg bg-white active:scale-90"
  style="min-width: 350px;min-height: 220px;"
>
  <div class="flex absolute top-0 left-0 w-full h-full">
    <svg
      class="rounded-lg"
      style="width: 350px;height: 220px;"
      id="card_front.svg"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      x="0"
      y="0"
      width="350"
      height="220"
      viewBox="0 0 350 220"
      xml:space="preserve"
    >
      <style
      >.st1,.st2{fill:#fff;stroke:#808285;stroke-width:.5;stroke-miterlimit:10}.st2{fill:none}</style>
      <g id="Layer_3">
        <path class="fill-brand" d="M0 0h350v220H0z"></path>
      </g>
      <g id="Layer_1">
        <path
          id="chip_border"
          class="st1"
          d="M78.9 106.2H38.3c-1.1 0-1.9-.9-1.9-1.9V75.8c0-1.1.9-1.9 1.9-1.9h40.6c1.1 0 1.9.9 1.9 1.9v28.5c.1 1-.8 1.9-1.9 1.9z"
        ></path>
        <path
          id="chip_center"
          class="st1"
          d="M62.4 93.9h-8.1c-.7 0-1.2-.5-1.2-1.2v-5.3c0-.7.5-1.2 1.2-1.2h8.1c.7 0 1.2.5 1.2 1.2v5.3c0 .6-.5 1.2-1.2 1.2z"
        ></path>
        <path
          class="st2"
          d="M36.4 88.6h16.7M36.4 91.4h16.7M63.7 88.6h16.9M63.7 91.4h16.9M58.4 86.2V73.8M58.4 106.3V94M58.6 80.5h22M36.7 99.5h21.9"
        ></path>
      </g>
    </svg>
  </div>
  <div class="absolute bottom-6 right-6">
    <div
      class="mt-2 text-right text-white text-sm text-gray-200"
      style=""
      id="cardholder-name"
    >{{customer}}</div>
    <div class="flex w-full justify-end items-center space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-12"
        viewBox="0 0 141.732 141.732"
      ><g fill="#fff"><path
            d="M62.935 89.571h-9.733l6.083-37.384h9.734zM45.014 52.187L35.735 77.9l-1.098-5.537.001.002-3.275-16.812s-.396-3.366-4.617-3.366h-15.34l-.18.633s4.691.976 10.181 4.273l8.456 32.479h10.141l15.485-37.385H45.014zM121.569 89.571h8.937l-7.792-37.385h-7.824c-3.613 0-4.493 2.786-4.493 2.786L95.881 89.571h10.146l2.029-5.553h12.373l1.14 5.553zm-10.71-13.224l5.114-13.99 2.877 13.99h-7.991zM96.642 61.177l1.389-8.028s-4.286-1.63-8.754-1.63c-4.83 0-16.3 2.111-16.3 12.376 0 9.658 13.462 9.778 13.462 14.851s-12.075 4.164-16.06.965l-1.447 8.394s4.346 2.111 10.986 2.111c6.642 0 16.662-3.439 16.662-12.799 0-9.72-13.583-10.625-13.583-14.851.001-4.227 9.48-3.684 13.645-1.389z"
          ></path></g><path
          d="M34.638 72.364l-3.275-16.812s-.396-3.366-4.617-3.366h-15.34l-.18.633s7.373 1.528 14.445 7.253c6.762 5.472 8.967 12.292 8.967 12.292z"
          fill="#fff"
        ></path><path fill="none" d="M0 0h141.732v141.732H0z"></path></svg>
    </div>
  </div>
</div>