        <div class="Phone_iphone___2aZn ">

            <div class="z-10 absolute top-0 -left-36">
                <a id="terminal_pay" class="">
                    {{> terminal_card customer=invoice.customer_name }}
                </a>
            </div>

            


            <div class="Phone_buttons__fyRox">
            </div>
            <div class="Phone_screen__Gi6ai z-0">
                <div class="left-0 transition-all duration-300 absolute flex w-full top-0">
                <div class="h-[52.25rem] w-full bg-modal-bg inline-flex items-center justify-center rounded-2xl overflow-hidden"></div>
                <div id="tap-to-pay" class="absolute top-0 left-0 flex w-full">
                    <div class="w-full h-60 z-10 flex justify-center items-center" style="background-color:#1d2425">
                        <div class="w-32">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 1200.000000 711.000000" preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,711.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
                                <path d="M4685 7103 c-222 -13 -394 -27 -530 -44 -1943 -237 -3508 -1263
                                    -3999 -2621 -101 -281 -142 -488 -152 -783 -14 -390 41 -714 183 -1075 499
                                    -1267 1948 -2234 3768 -2514 386 -60 407 -61 1015 -61 598 1 701 6 990 51 933
                                    143 1742 436 2404 871 241 158 397 284 670 537 185 172 196 179 422 261 138
                                    50 150 53 162 37 7 -9 41 -60 75 -112 73 -112 232 -277 327 -339 36 -23 103
                                    -60 150 -83 96 -46 327 -125 379 -130 l35 -3 12 60 c19 90 19 92 -23 100 -84
                                    15 -269 78 -346 116 -251 126 -390 292 -530 635 -61 149 -138 301 -202 400
                                    -72 112 -213 236 -975 864 -711 585 -857 715 -899 802 -28 58 -28 137 0 195
                                    42 87 172 172 276 181 46 4 61 -1 155 -48 146 -74 459 -246 1093 -600 303
                                    -169 593 -330 647 -359 l96 -52 19 24 c21 27 58 106 52 110 -2 2 -161 91 -354
                                    199 -192 108 -420 236 -505 285 l-155 88 3 40 c5 70 53 269 68 285 13 13 75
                                    15 414 18 l399 3 93 -47 c315 -157 338 -188 1501 -1994 214 -333 403 -620 420
                                    -637 38 -41 83 -44 115 -10 45 48 89 -27 -626 1077 -760 1172 -861 1320 -996
                                    1455 -143 143 -291 237 -466 295 l-105 35 -89 160 c-175 316 -344 548 -571
                                    783 -298 309 -598 542 -991 767 -893 513 -2013 792 -3149 783 -126 -1 -252 -3
                                    -280 -5z m1015 -237 c466 -59 875 -144 1260 -263 350 -108 825 -324 1195 -544
                                    435 -259 909 -702 1173 -1099 74 -112 196 -329 188 -337 -5 -6 -168 -19 -340
                                    -28 l-129 -7 9 54 c5 29 9 94 9 144 0 83 -2 94 -30 140 -59 94 -96 107 -615
                                    204 -590 111 -1110 190 -1161 177 -41 -10 -121 -70 -156 -116 -18 -23 -39 -65
                                    -48 -93 -58 -198 -285 -1312 -285 -1402 0 -67 68 -160 147 -200 34 -17 258
                                    -61 778 -152 182 -32 332 -59 333 -60 2 -1 -10 -23 -28 -49 -54 -79 -72 -131
                                    -72 -210 0 -134 42 -193 265 -364 l107 -83 -58 -63 c-32 -35 -71 -88 -88 -117
                                    -26 -47 -29 -62 -29 -138 0 -73 4 -93 28 -142 51 -103 120 -148 550 -353 l227
                                    -109 -37 -39 c-21 -21 -89 -84 -151 -140 -500 -447 -1160 -799 -1917 -1022
                                    -374 -110 -863 -201 -1205 -225 -249 -17 -860 -28 -1048 -19 -603 29 -1385
                                    200 -1952 427 -949 380 -1699 994 -2099 1717 -139 251 -256 590 -293 850 -16
                                    117 -16 540 0 665 60 448 251 882 574 1298 112 145 423 454 588 586 547 436
                                    1256 773 2016 956 320 78 761 150 1032 170 201 14 1117 4 1262 -14z m1735
                                    -1731 c85 -9 520 -82 1010 -170 332 -60 424 -80 439 -95 31 -31 23 -132 -35
                                    -419 -28 -141 -55 -259 -58 -263 -3 -4 -94 43 -201 103 -371 211 -542 299
                                    -608 311 -140 26 -297 -27 -407 -137 -137 -136 -170 -317 -89 -483 35 -71 153
                                    -190 369 -371 94 -79 172 -148 174 -153 5 -14 -46 -6 -454 67 -348 63 -546
                                    104 -597 124 -33 13 -48 39 -48 86 0 54 242 1192 285 1342 13 44 20 54 43 59
                                    15 3 32 7 37 9 6 2 26 2 45 0 19 -2 62 -7 95 -10z m962 -1972 c272 -207 923
                                    -757 923 -779 0 -20 -26 -30 -133 -49 -212 -38 -289 -8 -621 239 -245 184
                                    -404 314 -446 368 -68 85 -52 151 58 251 35 31 49 37 87 37 39 0 54 -7 132
                                    -67z m91 -739 c25 -15 86 -56 136 -91 50 -36 132 -84 181 -108 146 -70 224
                                    -79 416 -45 137 24 168 25 196 5 21 -15 87 -168 99 -231 l6 -31 -125 -46
                                    c-157 -58 -260 -87 -310 -87 -48 0 -187 56 -432 174 -282 137 -333 168 -357
                                    223 -33 76 -5 171 69 232 46 38 63 38 121 5z" />
                                <path d="M5524 5921 c-78 -20 -151 -97 -175 -184 -14 -52 -11 -63 78 -251 292
                                    -623 398 -968 455 -1481 20 -187 17 -762 -5 -945 -65 -521 -178 -890 -437
                                    -1419 -77 -158 -90 -192 -90 -235 0 -66 30 -125 91 -180 61 -55 119 -71 199
                                    -56 48 8 62 17 105 63 112 119 307 529 430 902 125 379 197 756 216 1129 13
                                    243 1 632 -26 857 -56 476 -231 1048 -455 1489 -95 185 -146 259 -196 287 -46
                                    25 -140 37 -190 24z" />
                                <path d="M4588 5436 c-58 -23 -85 -44 -117 -95 -62 -96 -57 -127 76 -411 194
                                    -416 263 -648 308 -1030 43 -370 25 -689 -60 -1045 -59 -247 -122 -415 -296
                                    -785 -55 -116 -64 -143 -63 -190 2 -166 192 -289 334 -215 95 49 209 231 330
                                    527 126 304 207 623 252 988 20 161 17 611 -6 785 -56 440 -156 765 -363 1179
                                    -95 191 -132 246 -184 275 -52 30 -156 38 -211 17z" />
                                <path d="M3715 4976 c-5 -3 -23 -7 -39 -11 -41 -9 -132 -99 -152 -150 -23 -62
                                    -9 -113 87 -324 94 -203 139 -321 173 -459 122 -480 69 -917 -175 -1434 -99
                                    -211 -108 -243 -84 -305 23 -59 88 -130 140 -154 54 -25 145 -25 194 1 77 39
                                    148 146 260 390 109 238 176 480 202 728 18 176 7 576 -21 732 -42 238 -110
                                    439 -231 685 -80 164 -139 244 -201 273 -41 20 -131 36 -153 28z" />
                                <path d="M2783 4505 c-115 -58 -172 -187 -128 -292 9 -20 45 -89 81 -154 36
                                    -65 76 -149 90 -187 53 -154 52 -479 -2 -641 -14 -42 -56 -130 -94 -196 -37
                                    -66 -73 -137 -80 -159 -19 -60 -6 -130 35 -193 48 -72 101 -106 176 -111 112
                                    -8 214 69 308 233 252 439 265 968 36 1414 -65 127 -144 234 -203 275 -62 44
                                    -147 48 -219 11z" />
                            </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="absolute h-full w-full overflow-y-auto no-scrollbar mt-56 pb-[20rem] px-3">
                    <div class="grid grid-cols-2 gap-3">
                    </div>
                </div>

                </div>
                <div class="relative top-[4.3rem] transition-all duration-300 absolute flex w-full">
                <div id="screens" class="h-[40rem] w-full bg-gray-darkest inline-flex rounded-2xl overflow-hidden shadow-lg">
                    <div class="screen w-full hidden">
                        <div class="flex justify-center items-center h-full">
                            <h1 class="text-white text-4xl font-bold"> Furni </h1>
                        </div>
                    </div>
                    <div class="screen w-full ">
                        <div class=" h-full space-y-12 ">
                            <div class="space-y-4">
                            <h1 class="text-white text-center text-3xl mt-16"> Insert, tap, or swipe to pay </h1>
                            <h2 id="total_amount" class="text-white text-center text-4xl font-bold"></h2>
                            </div>
                            <ul id="terminal-list" class=" text-gray-300 text-xl px-2">
                                {{#each invoice.lines.data}}
                                    <li class="flex justify-between border-b-2 border-gray-800 py-4">
                                        <div>{{this.description}}</div>
                                        <div>{{ formatCurrency 'en-US' this.amount }}</div>
                                        
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="screen w-full hidden">
                        <div class="h-full space-y-6 mb-16">
                            <div class="space-y-4 mt-16 justify-center flex">
                                <svg class="animate-spin -ml-1 mr-3 h-16 w-16 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                    </svg>
                            </div>
                            <p class="text-white text-center text-3xl font-bold">Processing</p>
                        </div>
                    </div>
                    <div class="screen w-full hidden">
                        <div class="h-full space-y-12">
                            <div class="space-y-4 mt-16">
                            <div class="text-green-500 text-center flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20">
                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <h2 class="text-white text-center text-4xl font-bold">Approved</h2>
                            <h3 id="total-amount" class="text-white text-center text-gray-200 text-2xl">$440.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="-bottom-[33rem] transition-all duration-300 absolute flex w-full z-10">
                <div class="h-[33rem] w-full bg-gray-darkest inline-flex p-3 items-center justify-center rounded-2xl overflow-hidden shadow-lg"></div>
                <div class="absolute grid grid-cols-1 w-full h-24 pb-12 px-6 pt-6">
                </div>
                </div>
                <div class="-bottom-96 transition-all duration-300 absolute flex w-full z-50">
                <div class="h-40 w-full bg-gray-darkest inline-flex p-3 items-center justify-center rounded-2xl overflow-hidden z-50"></div>
                <div class="absolute grid grid-cols-1 w-full h-24 pt-3 text-white z-50">
                    <button class="text-4xl hover:text-primary-dark transition-all duration-300">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path>
                        </svg>
                    </button>
                    <div class="grid grid-cols-3 gap-12 w-full p-6 items-center justify-center">
                        <div class="col-span-3 flex items-center justify-center">
                            <h2 class="text-2xl bold">🎉 Success!  🎉</h2>
                        </div>
                    </div>
                </div>
                </div>
                <div class="-bottom-96 transition-all duration-300 absolute flex w-full z-10">
                <div class="h-64 w-full bg-gray-darkest inline-flex p-3 items-center justify-center rounded-2xl overflow-hidden z-50"></div>
                <div class="absolute grid grid-cols-1 w-full h-24 pt-3 text-white z-50">
                    <div class="w-full inline-flex justify-center items-center">
                        <button class="text-white text-4xl hover:text-primary-dark transition-all duration-300">
                            <div class="w-32 h-2 bg-white rounded-full hover:cursor-pointer hover:bg-gray-lighter transition-all duration-300 ease-in-out"></div>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>





         <style>

.Phone_iphone___2aZn {
    height: 1000px;
    width: 423px;
    padding: 0 15px;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #111;
    border: 5px solid #3d3d3d;
    border-radius: 70px 70px 70px 70px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2),0 0 0 1px #999,0 0 30px 0 rgba(0,0,0,.7)
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_silent__nMQ0I,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_sleep__oVvzO,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    background: #111;
    position: absolute;
    border-radius: 2px 0 0 2px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_silent__nMQ0I {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI,.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    left: -8px;
    height: 60px;
    width: 4px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_sleep__oVvzO {
    left: auto;
    right: -8px;
    top: 180px;
    height: 100px;
    width: 4px;
    border-radius: 0 2px 2px 0
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-up__Zdd6t {
    top: 170px
}

.Phone_iphone___2aZn .Phone_buttons__fyRox .Phone_vol-down__NiouI {
    top: 250px
}

.Phone_iphone___2aZn .Phone_top__o_F4Y {
    position: absolute;
    top: 4px;
    width: 100%;
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    z-index: 4;
    -moz-filter: url(#goo);
    -o-filter: url(#goo);
    filter: url(#goo)
}

.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_black-bar__Zboot {
    position: absolute;
    height: 1px;
    width: 70%;
    padding-top: 2px;
    background: #111
}

.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_iphone-top__3_Mxl {
    position: relative;
    height: 40px;
    width: 55%;
    border-radius: 0 0 20px 20px;
    background: #111;
    z-index: 2
}

.Phone_iphone___2aZn .Phone_components__n728B,.Phone_iphone___2aZn .Phone_top__o_F4Y .Phone_iphone-top__3_Mxl {
    display: flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_components__n728B {
    position: absolute;
    top: 20px;
    padding-left: 12px
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_speaker__DYbTs {
    height: 6px;
    width: 70px;
    margin: 0 30px;
    border-radius: 6px 6px 6px 6px;
    border-bottom: 1px solid #333;
    background: #222;
    z-index: 100
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 {
    height: 15px;
    width: 15px;
    border-radius: 50% 50% 50% 50%;
    border-bottom: 1px solid #444;
    background: radial-gradient(#000,#333);
    opacity: .5;
    z-index: 4
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 .Phone_shine-left___R3yA {
    position: absolute;
    height: 10px;
    width: 10px;
    margin: 2px;
    border-left: 4px solid #1e90ff;
    border-right: transparent;
    background: #000;
    border-radius: 50% 50% 50% 50%;
    -moz-filter: blur(1.8px);
    -o-filter: blur(1.8px);
    filter: blur(1.8px)
}

.Phone_iphone___2aZn .Phone_components__n728B .Phone_camera__qWmn6 .Phone_shine-left___R3yA:before {
    content: "";
    position: absolute;
    right: 0;
    height: 8px;
    width: 8px;
    border-right: 2px solid #fff;
    border-radius: 4px 4px 4px 4px
}

.Phone_iphone___2aZn .Phone_bottom-bar__kgdWn,.Phone_iphone___2aZn .Phone_top-bar__3IpQA {
    position: absolute;
    left: -5px;
    height: 15px;
    width: 423px;
    border-left: 5px solid #111;
    border-right: 5px solid #111
}

.Phone_iphone___2aZn .Phone_top-bar__3IpQA {
    top: 65px
}

.Phone_iphone___2aZn .Phone_bottom-bar__kgdWn {
    bottom: 65px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai {
    position: absolute;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    margin: 0 auto;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,.9);
    border-radius: 60px 60px 60px 60px;
    overflow: hidden
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai video {
    height: 100%;
    max-width: none
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_info__9Kw6V {
    position: absolute;
    top: 140px;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_time__QiO2M {
    position: absolute;
    top: 8px;
    left: 30px;
    line-height: 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 200
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-lock__1RXTo {
    position: absolute;
    top: 95px;
    height: 26px;
    width: 34px;
    background: #fff;
    border-radius: 3px 3px 3px 3px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-lock__1RXTo:before {
    content: "";
    position: absolute;
    top: -18px;
    right: 4px;
    height: 30px;
    width: 26px;
    border: 4px solid #fff;
    border-radius: 26px 26px 26px 26px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-carrier__xfebi,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-date__zsH_x,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    margin: 2rem 0 1.6rem;
    line-height: 3rem
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-carrier__xfebi {
    position: absolute;
    top: 11px;
    left: 42px;
    font-weight: 200;
    font-size: .9em
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-time__jO9Fr {
    font-size: 6em;
    font-weight: 100;
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-date__zsH_x {
    font-weight: 100;
    font-size: 1.5em
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-bar__fSoWM,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-swipe__WBCp8,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w {
    position: absolute;
    font-family: Helvetica Neue,sans-serif
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-swipe__WBCp8 {
    bottom: 25px;
    font-size: 1.1em;
    font-weight: 100;
    color: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_lock-bar__fSoWM {
    bottom: 10px;
    height: 4px;
    width: 45%;
    border-radius: 2px 2px 2px 2px;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w {
    top: 12px;
    left: 12px;
    height: 14px;
    width: 25px;
    display: flex;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b {
    width: 4px;
    display: flex;
    border-radius: 1px 1px 1px 1px;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:first-child {
    height: 2px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:nth-child(2) {
    height: 6px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:nth-child(3) {
    height: 10px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_service__BF67w .Phone_bar__kCW3b:last-child {
    height: 14px
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 {
    position: absolute;
    top: 11px;
    right: 32px;
    height: 16px;
    width: 32px;
    border: 1px solid #fff;
    border-radius: 2px 2px 2px 2px;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_energy__D9FrR,.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_nub__JpQ71 {
    position: absolute;
    background: #fff
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_nub__JpQ71 {
    top: 4px;
    right: -4px;
    height: 6px;
    width: 2px;
    border-radius: 0 4px 4px 0
}

.Phone_iphone___2aZn .Phone_screen__Gi6ai .Phone_battery__Ndx57 .Phone_energy__D9FrR {
    left: 1px;
    height: 12px;
    width: 18px;
    border-radius: 1px 0 0 1px
}

@media screen and (min-height: 500px) {
    .Phone_iphone___2aZn {
        transform:scale(.7)
    }
}

@media screen and (min-height: 1000px) {
    .Phone_iphone___2aZn {
        transform:scale(.7)
    }
}

@media screen and (min-height: 1500px) {
    .Phone_iphone___2aZn {
        transform:scale(1.25)
    }
}


#card:active {
  transform: scale(0.9);
}

</style>