{{#unless session.isOnboarded}}
  {{> onboarding_notice}}
{{/unless}}
{{> header route=routeName }}

<div class="flex relative flex-col mt-0.5 flex-1 w-full text-left sm:px-6 lg:px-8 items-center pb-8">
  <h1 class="text-4xl font-medium text-dark-gray-800 mt-28">
    Oops!
  </h1>
  <h2 class="text-2xl font-medium text-dark-gray-500 mt-8">
    Something went wrong. Please try again later.
  </h2>
  
  {{#if error.length }}
   <h2 class="text-xl font-medium mt-8">
   Error Message:  {{error}}
  </h2>
  {{/if}}
</div>

{{> footer}}
