{{> notifications }}
<div class="flex flex-1 xxs:flex-col lg:flex-row h-screen">
  <div class="xxs:w-full lg:w-1/3">
    {{> onboarding_sidebar step=2 step_title="Create account"}}
  </div>
  <div
    class="flex flex-col flex-2 xxs:items-center lg:items-start w-full space-y-8 lg:pl-14 bg-light-blue-100"
  >
    <div class="flex flex-col xxs:w-full xxs:px-4 lg:px-0 max-w-md xxs:mt-8 xxs:mb-4 lg:mt-24 lg:mb-12 xxs:pb-14 sm:pb-0">
      <div class="relative xxs:hidden lg:block max-w-2xl pb-12 lg:max-w-7xl">
        <div class="relative">
          <h1
            class="leading-9 text-3xl font-extrabold sm:text-5xl sm:leading-none lg:text-3xl"
          >
            Create account
          </h1>
          <p class="mt-2 max-w-2xl text-dark-gray-500 text-base font-normal">
            Create an account to manage your business.
          </p>
        </div>
      </div>
      <form id="user" class="mt-8 space-y-4">
        <div class="rounded-md -space-y-px">
          <div>
            <label for="country" class="text-dark-gray-700">
              Country
            </label>
            <select
              id="country"
              name="country"
              required
              class="shadow-sm mb-6 rounded-md relative block w-full px-3 py-2.5 border border-dark-gray-300 placeholder-dark-gray-500 focus:outline-none focus:ring-dark-gray-600 focus:border-dark-gray-600 focus:z-10 text-md"
            >
              <option selected value="US">United States</option>
              <option value="GB">United Kingdom</option>
              <option value="AU">Australia</option>
              <option value="FR">France</option>
              <option value="SG">Singapore</option>
            </select>
          </div>
          <div>
            <label for="name" class="text-dark-gray-700">
              Name
            </label>
            <input
              id="name"
              name="name"
              type="text"
              autocomplete="text"
              required
              class="shadow-sm mb-6 rounded-md relative block w-full px-3 py-2.5 border border-dark-gray-300 placeholder-dark-gray-500 focus:outline-none focus:ring-dark-gray-600 focus:border-dark-gray-600 focus:z-10 text-md"
            />
          </div>
          <div>
            <label for="email-address" class="text-dark-gray-700">
              Email address
            </label>
            <input
              id="email-address"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="shadow-sm mb-6 rounded-md relative block w-full px-3 py-2.5 border border-dark-gray-300 placeholder-dark-gray-500 focus:outline-none focus:ring-dark-gray-600 focus:border-dark-gray-600 focus:z-10 text-md"
              placeholder="you@example.com"
            />
          </div>
          <div>
            <label for="password" class="text-dark-gray-700">
              Password
            </label>
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="shadow-sm mb-6 rounded-md relative block w-full px-3 py-2.5 border border-dark-gray-300 placeholder-dark-gray-500 focus:outline-none focus:ring-dark-gray-600 focus:border-dark-gray-600 focus:z-10 text-md"
            />
          </div>
        </div>
        <div
          class="flex items-center px-3 py-1 w-max mx-auto border bg-neutral-300 rounded-3xl text-center"
        >
          <span class="text-sm text-dark-gray-400 w-full">
            Password field is illustrative and not verified
          </span>
        </div>
        <div>
          <button
            type="submit"
            class="relative flex justify-center items-center w-full mt-6 p-3 border border-brand-outline rounded-full shadow-sm text-base font-semibold text-white bg-brand hover:bg-brand-outline active:ring-2 active:ring-offset-2 active:ring-brand-outline"
          >
            Continue
            <span
              class="spinner absolute hidden right-0 animate-spin rounded-full h-5 w-5 mx-3 border-b-2"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  (() => {
    const form = document.getElementById('user');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = new FormData(event.target);
      const submitButton = form.querySelector('[type=submit]');
      const spinner = submitButton.querySelector('.spinner');

      submitButton.classList.add('disabled');
      spinner.classList.remove('hidden');

      const response = await fetch('/signup/user', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(Object.fromEntries(formData.entries()))
      });

      if (!response.ok) {
        submitButton.classList.remove('disabled');
        spinner.classList.add('hidden');
        const { error } = await response.json();
        window.notificationEvents.fail(undefined, error);
        return;
      }

      window.location = '/signup/onboarding'
    });
  })();
</script>
