{{> header route='Login' }}
<div class="flex-1 flex justify-center px-4 sm:px-6 lg:px-8 bg-light-blue-100">
  <div class="pt-12 max-w-md w-full space-y-8">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-extrabold">
        Login
      </h2>
      <p class="mt-6 max-w-2xl text-base text-dark-gray-500">
        Login to your account to continue
      </p>
    </div>
    <form class="mt-8 space-y-6" id="form">
      <div class="rounded-md shadow-sm">
        <div class="mb-6">
          <label for="email-address" class="block text-sm font-medium text-dark-gray-700 mb-1">
            Email address
          </label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="shadow-sm focus:ring-dark-gray-600 py-2.5 focus:border-dark-gray-600 block w-full sm:text-sm border-dark-gray-300 rounded-md"
            placeholder="you@example.com"
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-dark-gray-700 mb-1">
            Password
          </label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="shadow-sm focus:ring-dark-gray-600 py-2.5 focus:border-dark-gray-600 block w-full sm:text-sm border-dark-gray-300 rounded-md"
            placeholder="Password"
          />
        </div>
      </div>
      <div
        class="flex py-1 px-3 items-center border bg-neutral-300 w-max mx-auto rounded-3xl text-center"
      >
        <span class="text-sm text-dark-gray-400 w-full">
          Password field is illustrative and not verified
        </span>
      </div>
      <div>
        <button
          type="submit"
          class="relative flex justify-center items-center w-full p-3 border border-brand-outline rounded-full shadow-sm text-base font-semibold text-white bg-brand hover:bg-brand-outline active:ring-2 active:ring-offset-2 active:ring-brand-outline"
        >
          Login
          <span
            class="spinner hidden absolute right-0 animate-spin rounded-full h-5 w-5 mx-3 border-b-2"
          ></span>
        </button>
      </div>
    </form>
    <div class="text-center">
      <p class="mt-6 max-w-2xl text-base text-dark-gray-500">
        Do not have an account yet?
      </p>
      <a href="/signup/user" class="font-semibold hover:underline mt-6 max-w-2xl text-base text-brand">
        Sign up
      </a>
    </div>
  </div>
</div>
{{> footer }}
<script>
  (() => {
    const form = document.getElementById('form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = new FormData(event.target);
      const body = JSON.stringify(Object.fromEntries(formData.entries()));
      const submitButton = event.submitter;

      submitButton.classList.add('disabled');
      submitButton.querySelector('.spinner').classList.remove('hidden');

      const response = await fetch('/signin', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json;charset=utf-8' },
        body
      });

      if (!response.ok) {
        submitButton.classList.remove('disabled');
        submitButton.querySelector('.spinner').classList.add('hidden');
        const { error } = await response.json();
        window.notificationEvents.fail(undefined, error);
        return;
      }

      window.location.href = '/home';
    });
  })();
</script>
