extends layout

block content
    section.embedded 
        h2 Payments 
        div.enable-border.stripe-connect-notification-banner-container
            stripe-connect-notification-banner
        div.enable-border
            stripe-connect-payments
        div.loading-error-message 

block footer
    if onboardingComplete && chargesEnabled
        .annotation.card
            .card-title
                h4 Create a test payment
                i(class="fa fa-chevron-up")
            .description
                p Simulate a grooming session by using a testmode payment method to #[a(href="https://stripe.com/docs/payments/payment-intents" target="_blank") create a payment intent].
            form.right(id='create-payments' autocomplete='off')
                fieldset
                    .row(label='Count')
                        input(type='number' name='count' placeholder='Number of charges' min="1" max="10" pattern="\d*" value="1" required)
                    .row(label='Amount')
                        input(type='number' name='amount' placeholder='If blank, a random amount is used' min="1" max="1000" pattern="\d*" value="")
                    .row(label='Status')
                        select(name='status')
                            option(value="card_successful") Successful
                            option(value="card_successful_intl") Successful (Non-US country)
                            option(value="card_disputed_fraudulent") Disputed (fraudulent)
                            option(value="card_disputed_product_not_received") Disputed (product not received)
                            option(value="card_disputed_inquiry") Disputed (inquiry)
                            option(value="card_uncaptured") Uncaptured
                            option(value="ach_direct_debit") ACH Direct Debit
                            option(value="sepa_debit") SEPA Direct Debit
                    .row(label='Currency' id='currency-row')
                        select(name='currency')
                            option(value="" selected) Default
                            option(value="aed") AED
                            option(value="aud") AUD
                            option(value="cad") CAD
                            option(value="cny") CNY
                            option(value="eur") EUR
                            option(value="gbp") GBP
                            option(value="inr") INR
                            option(value="jpy") JPY
                            option(value="sgd") SGD
                            option(value="usd") USD
                div
                    input(type='submit' name="test_payments" value='Create test payments' class='primary-action')
                div.checkout-link-container
                    p Alternatively, use 
                        a(href='https://stripe.com/docs/testing#cards' target="_blank") Stripe test cards 
                        span to 
                        a(onclick='createCheckoutSession(event)' style="cursor: pointer") create a payment with checkout
                div.create-payments-status
                    p.success 
                        span Payments successfully created! 
                        a(href='/payments') Reload the page 
                        span to see the new payments.
                    p.error
        script(src='/javascripts/createPayments.js')