@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: white;

    --dialog-background: rgba(197, 197, 197, 0.7);

    --offset: #f5f6f8;

    --accent: #27ae60;
    --accent-foreground: #f4f4f5;
    --accent-subdued: #e9f7ef;

    --primary: #353a44;
    --subdued: #596171;

    --radius: 0.5rem;

    --success: #d6fce6;
    --success-border: #94d5af;
    --success-foreground: #1e884b;

    --destructive: #e74c3c;
    --destructive-foreground: #e9f7ef;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Sohne-Buch.otf) format('opentype');
  }

  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Sohne-Kraftig.otf) format('opentype');
  }

  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Sohne-Halbfett.otf) format('opentype');
  }
}


