@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: white;

    --offset: #f5f6f8;
    --accent: #f5f6f8;

    --subdued: #596171;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #221b35;
    --primary-foreground: #f4f4f5;

    --secondary: #f26552;
    --secondary-foreground: black;

    --radius: 0.5rem;

    --success: #d6eefb;
    --success-foreground: black;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Sohne-Buch.otf) format('opentype');
  }

  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Sohne-Kraftig.otf) format('opentype');
  }

  @font-face {
    font-family: 'Sohne';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Sohne-Halbfett.otf) format('opentype');
  }
}
